:root {
    --background: #B4DBA9;
    --background-hover: #92AC86;
    --background-main: #F4F1E8;
    --background-container: #D7DEDC;
    --text-main: #1A1A1A;
    --text-secondary: #4A4A4A;
    --text-accent: #76A36B;
}

.containerMain{
  background-color: var(--background-container);
  padding: 20px;
}
.container {
  
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  max-width: 900px;
  margin: 20px auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.informacion_propia {
  background-color:var(--background);
  color: var(--text-main);
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  img{
    height: 1.7rem;
    margin-right: 10px;
  }
  p{
    color: var(--text-secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
}

.container_form {
  padding: 40px;
  background-color: var(--background-hover);
}

.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  color: var(--text-main);
}

.formulario label:nth-child(5),
.formulario button {
  grid-column: span 2;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border: 1px solid #eee;
  border-radius: 8px;
  background-color: #fff;
  box-sizing: border-box;
}

button {
  background-color: var(--background);
  color: var(--text-main);
  border: none;
  padding: 15px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 10px;
  &:hover{
    color: #fff;
    background-color: rgba(0, 128, 0, 0.756);
  }

  &:active{
    transform: scale(.95);

  }
}