:root {
    --background: #B4DBA9;
    --background-hover: #92AC86;
    --background-main: #F4F1E8;
    --background-container: #D7DEDC;
    --text-main: #1A1A1A;
    --text-secondary: #4A4A4A;
    --text-accent: #76A36B;
}

.container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-main);
}

.gallery_container {
    background-color: var(--background-main);
    width: 100%;
    max-width: 1200;
    height: auto;
}

.container h1{
    color: var(--text-main);
    margin: 20px;
    font-size: 3rem;
}
.container p{
    color: var(--text-secondary);
    font-size: 1.5rem;
    margin-bottom: 15px;
}
