:root {
    --background: #B4DBA9;
    --background-hover: #92AC86;
    --background-main: #F4F1E8;
    --background-container: #D7DEDC;
    --text-main: #1A1A1A;
    --text-secondary: #4A4A4A;
    --text-accent-green: #76A36B;
}
section{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-container);
    
    

}

.container {


    margin: 20px 0 20px 0;
   

    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../assets/pictures/sierras_merlo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border-radius: 7px;
}

.container h3{

    background-color: #92AC8690;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: -20px;


}

.container_buttons{
    margin-top: 20px;
 
    
}


.container_buttons button{

    margin-right: 20px;
    color: #fff;
border: 1px solid #FFFFFF;
    background: transparent;
    
}

