:root {
    --background: #B4DBA9;
    --background-hover: #92AC86;
    --background-main: #F4F1E8;
    --background-container: #D7DEDC;
    --text-main: #1A1A1A;
    --text-secondary: #4A4A4A;
    --text-accent-green: #76A36B;
}
.container{
display: flex;    
align-items: center;
flex-direction: row;
justify-content: space-between;
padding: 0 20px;
background-image: url("../assets/pictures/background.png");
height: auto;

img{
    height: 10rem;
    width: fit-content;
}
}







.container nav a {
    display: inline-block;
    background-color: #C2A45C;
    
    font-size: 1.5rem;
    margin-right: 20px;
    padding: 5px;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    padding: 14px 28px;
    font-weight: 500;
    border-right: 1px solid white;
    border-bottom: 2px solid white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.123); 
    
 &:hover{
    background-color: var(--background-hover);
    transform: scale(1.1);
 }

}


.container button{

 background-color: var(--background);
 font-size: 1.5rem;
 color: #fff;
 border-radius: 12px;
 padding: 10px;
 font: 400;

 &:hover{
    background-color:  var(--background-hover);
transform: scale(1.1);
 }
   &:active {
       transform: scale(1);
   }
 
}