@import "tailwindcss";
@plugin 'lightswind/plugin';
:root {
  --background: #b4dba9;
  --background-hover: #92ac86;
  --background-main: #f4f1e8;
  --background-container: #d7dedc;
  --text-main: #1a1a1a;
  --text-secondary: #4a4a4a;
  --text-accent-green: #76a36b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}
