:root {
    --background: #B4DBA9;
    --background-hover: #92AC86;
    --background-main:#F4F1E8;
    --background-container: #D7DEDC;
}

*{ 

margin: 0;
padding: 0;
box-sizing: border-box;
font-family: system-ui;

}